/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --header-title-color: #ffc2e6;
  --header-title-shadow-color: #ff0070;
  --title-color: #353430;
  --title-bg-color: var(--accent-color);
  --menu-color: #353430;
  --menu-color-hover: rgba(50, 49, 45, 0.4);
  --corner-color: var(--menu-color);

  background: url("../images/cover-image-light.png") 50% / cover no-repeat,
    var(--bg-color);
  background-attachment: fixed;
}

.page.theme_light .decorated-text {
  display: none;
}

.page.theme_light .section__title {
  color: var(--title-color);
}

.page.theme_light .text__link {
  text-shadow: 2px 2px var(--accent-color);
  border-bottom: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --header-title-color: #ffc2e6;
    --header-title-shadow-color: #ff0070;
    --title-color: #353430;
    --title-bg-color: var(--accent-color);
    --menu-color: #353430;
    --menu-color-hover: rgba(50, 49, 45, 0.4);
    --corner-color: var(--menu-color);
  }

  .page {
    background: url("../images/cover-image-light.png") 50% / cover no-repeat,
      var(--bg-color);
    background-attachment: fixed;
  }

  .decorated-text {
    display: none;
  }

  .section__title {
    color: var(--title-color);
  }

  .text__link {
    text-shadow: 2px 2px var(--accent-color);
    border-bottom: transparent;
  }
}
