/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: "IBM Plex mono", monospace;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
  background: url("../images/cover-image-dark.png") 50% / cover no-repeat,
    var(--bg-color);
  background-attachment: fixed;
}

.header {
  padding: 10px;
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: flex;
  flex-direction: column;
}

.header::before,
.header::after,
.footer::before,
.footer::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
}

.header::before,
.footer::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--corner-color);
  border-right: 1px solid var(--corner-color);
  z-index: 1;
}

.header::after,
.footer::after {
  left: 10px;
  bottom: 10px;
  border-left: 1px solid var(--corner-color);
  border-bottom: 1px solid var(--corner-color);
}

@media (min-width: 768px) {
  .header {
    padding: 20px;
  }

  .header::before,
  .footer::before {
    top: 20px;
    right: 20px;
  }

  .header::after,
  .footer::after {
    left: 20px;
    bottom: 20px;
  }
}

.header > * {
  position: relative;
}

.decorated-text {
  text-transform: uppercase;
  position: absolute;
  right: 19px;
  top: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
}

.decorated-text::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

@media (min-width: 768px) {
  .decorated-text {
    right: 29px;
    top: 22px;
  }
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex: 1 1 0;
}

@media (min-width: 1024px) {
  .header__theme-menu {
    flex-direction: row;
    align-items: flex-start;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  text-transform: lowercase;
  background: transparent;
  border: 1px solid transparent;
  color: var(--menu-color);
  padding: 1.5px 13px;
  display: flex;
  align-items: flex-start;
  min-height: 26px;
  line-height: 100%;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--menu-color-hover);
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--menu-color);
  outline: none;
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  font-weight: bold;
  color: var(--header-title-color);
}

@media (min-width: 768px) {
  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }
}

.header__title {
  text-shadow: 4px 4px var(--header-title-shadow-color);
}

.header__description-container {
  flex: 1 1 0;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .header__description-container {
    width: 50%;
    margin-left: auto;
  }
}

.header__description {
  font-weight: bold;
  background: var(--accent-color);
  color: var(--title-color);
}

.main {
  padding: 0 10px;
}

@media (min-width: 768px) {
  .main {
    padding: 0 20px;
  }
}

.section {
  padding: 40px 0 10px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section.reduce_concentration {
  flex-direction: column;
}

@media (min-width: 768px) {
  .section {
    display: flex;
    flex-direction: row;
    padding: 60px 0 20px 0;
  }

  .section__title {
    flex: 0 0 236px;
  }

  .section.reduce_concentration .section__title {
    flex: 0;
    max-width: 236px;
  }
}

@media (min-width: 1024px) {
  .section__title {
    flex: 0 0 315px;
  }

  .section.reduce_concentration .section__title {
    flex: 0;
    max-width: 315px;
  }
}

.section__title {
  font-size: 18px;
  font-weight: bold;
  color: var(--accent-color);
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 1024px) {
  .section.reduce_concentration .section__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .section.reduce_concentration .section__content > * {
    flex: 1 1 300px;
  }
}

.paragraph {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.paragraph__title {
  font-size: 18px;
  font-weight: bold;
  background: var(--accent-color);
  color: var(--title-color);
}

.text__link {
  text-shadow: 2px 1px var(--accent-color);
  text-decoration: none;
  position: relative;
}

.text__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.text__link:focus {
  outline: none;
}

.text__link:focus-visible {
  outline: none;
}

.text__link:focus-visible::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 80%;
  bottom: 0;
  left: 0;
  border: 1px solid var(--text-color);
  outline: none;
}

.font-normal {
  font-weight: 500;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px 0 40px 0;
}

@media (min-width: 768px) {
  .gallery {
    gap: 20px;
    padding: 60px 0;
  }
}

.gallery__image-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

@media (min-width: 768px) {
  .gallery__image-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }

  .img-sunset {
    grid-column-start: span 2;
  }

  .img-ice-cream {
    grid-column-start: 3;
    grid-row-start: span 2;
  }

  .img-tape {
    grid-column-start: 1;
    grid-row-start: 2 span;
  }

  .img-street {
    grid-column-start: 2 span;
  }
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50%;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100vh;
  min-height: 668px;
}

@media (min-width: 768px) {
  .footer {
    padding: 20px 0 20px 20px;
  }
}

.footer__title {
  text-shadow: 2px 2px var(--header-title-shadow-color);
}
